# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment
.env
venv/
.env.*  # optional: for .env.local or .env.dev

# Alembic
alembic/versions/

# Editor/IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
*.log